/* Custom styling for the home page */

/* Custom styling for the div that wraps all of the content on this page */
div.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-right: 39px;
  margin-left: 39px;
  margin-bottom: 10px;
}

/* Styling for all elements of the form on this page */
label {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  color: #323954;
  font-size: 37;
  width: 100%;
}

div.formContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/*Styling for the dropdown menu */
select {
  margin-bottom: 10px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 30px;
  cursor: pointer;
  background-color: #ea5147;
  color: #ffffff;
  border: 6px solid #ea5147;
  border-radius: 5px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
  text-decoration: none;
  width: 100%;
}

select:hover {
  border: 6px solid #323954;
  border-radius: 5px;
}

select:focus {
  outline: none;
}

/*Styling for the "Go" button underneath the dropdown menu */
input {
  margin-top: 10px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 25px;
  cursor: pointer;
  background-color: #de5a48;
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
  text-decoration: none;
  width: 50%;
  border-radius: 10px;
  text-shadow: none;
  border-color: #de5a48;
  transition: width 0.3s ease, background-color 0.3s ease, transform 0.5s ease,
    box-shadow 0.2s ease;
}

input:hover {
  background-color: #4b5478;
  border-color: #4b5478;
  width: 55%;
}

input:focus {
  background-color: #5354a8;
  border-color: #5354a8;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Styles the two headers used to display the results clearly */
h2 {
  font-family: "Libre Baskerville", serif;
  color: #323954;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 79px;
  text-align: center;
  color: #ea5147;
  margin-top: 10px;
  margin-bottom: 5px;
}

h4 {
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 79px;
  color: #ea5147;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Custom styling for the query results as a whole and individual query results */
div.resultsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 10px;
  margin-bottom: 20px;
}

div.numericalResultsRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

div.numericalResultContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 13px;
  margin-right: 13px;
}

div.chartTitleText {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

div.energyLineChartContainer {
  position: relative;
  height: 60vh;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 21;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

div.renewableEnergyPieChartContainer {
  position: relative;
  height: 80vh;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 21;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
